@import './small-structure.css';


.center-block {
  display: grid;
  align-items: center;
  justify-items: center;

  height: 100%;
  width: 100%;

  padding: 1rem 2rem;
}

.cell {
  display: none;
}

.cell-1 {
  background-color: #FFC107;

  display: flex;
}

.cell-1 img {
  height: 80%;
  width: 80%;

  padding: 1rem 2rem 0;
}

.cell-3 {
  display: flex;

  background-color: #FFC107;

  color: #2C2F3C;

  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;

  line-height: 1.8rem;
}

.cell-3 p {
  padding: 0 2rem 1rem;
}

.cell-4 {
  display: block;
  padding: 1rem 2rem;

  background-color: #ED3B00;

  color: #FFFFFF;

  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
}

.cell-telegram_btn {
  display: block;
  background-color: #00B2ED;

  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
}

.cell-telegram_btn:hover {
  filter: brightness(80%);
}

.cell-telegram_btn a {
  text-decoration: none;
}

.cell-telegram_btn i {
  vertical-align: middle;

  color: #FFF7F7;

  font-size: 2rem;
}

.cell-telegram_btn span {
  display: none;
  vertical-align: middle;

  color: #FFF7F7;

  font-family: Arial;
  font-size: 2.5rem;
  font-weight: bold;
}


.cell-viber_btn {
  display: block;
  background-color: #7861C5;

  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
}

.cell-viber_btn:hover {
  filter: brightness(80%);
}

.cell-viber_btn a {
  text-decoration: none;
}

.cell-viber_btn i {
  vertical-align: middle;

  color: #FFF7F7;
  font-size: 2rem;
}

.cell-viber_btn span {
  display: none;
  vertical-align: middle;

  color: #FFF7F7;

  font-family: Arial;
  font-size: 2.5rem;
  font-weight: bold;
}

.cell-5 {
  display: block;
  width: 100%;
  height: 100%;

  background-color: #FFFFFF;
}

.cell-5 img {
  width: 100%;
  height: 100%;

  margin: 0.2rem 0;
}

.cell-6 {

  background-color: #EAEAEA;

  display: flex;
  align-items: flex-end;

  display: flex;
}

.cell-6 p {
  width: 70%;

  margin: 2rem 2rem 1rem;

  color: #151719;

  font-family: Arial;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
}

.cell-7 {
  display: flex;
  background-color: #EAEAEA;
}

.cell-7 p {
  margin: 1rem 2rem 1rem;

  color: #151719;

  font-family: Arial;
  font-size: 1rem;
  line-height: 1.5rem;
}

.cell-7 p a {
  display: block;
  width: 70%;

  margin: 0.5rem 0;

  color: #003CED;

  font-family: Arial;
  font-size: 1rem;
}

.cell-8 {
  display: block;
  background-color: #FFFFFF;

  width: 100%;
  height: 100%;
}

.cell-8 img {
  width: 100%;
  height: 100%;
}

.cell-9 {
  display: flex;
  min-height: 35em;

  background-image: url(../assets/why.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: -5rem;
  background-position-y: bottom;

  background-color: #FFC107;
}

.cell-9 p {
  transform: rotate(-90deg);

  color: #151719;

  font-family: Arial;
  font-size: 8.5rem;
  font-weight: bold;
}

.cell-10 {
  display: flex;
  background-color: #EAEAEA;
}

.cell-10 p {
  margin: 1rem 2rem 1rem;

  color: #151719;

  font-family: Arial;
  font-size: 1rem;
  line-height: 1.5rem;
}

.cell-10 p a {
  display: block;

  margin: 0.5rem 0;

  color: #003CED;

  font-family: Arial;
  font-size: 1rem;
}

.cell-11 {
  display: flex;
  align-items: flex-end;

  background-color: #EAEAEA;
}

.cell-11 p {
  width: 70%;

  margin: 2rem 2rem 1rem;

  color: #151719;

  font-family: Arial;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
}

.cell-12 {
  display: flex;
  align-items: center;

  background-color: #ED3B00;
}

.cell-12 p {
  width: 80%;
  margin-top: 5% auto;

  color: #ffffff;

  font-family: Arial;
  font-size: 2rem;
  font-weight: bold;
}


.cell-13 {
  display: flex;
  align-items: center;

  background-color: #FFFFFF;
}

.cell-13 p {
  margin: 0 auto;

  color: #ED3B00;

  font-size: 8rem;
  font-family: Arial;
  font-weight: bold;
}

.cell-14 {
  display: block;
  min-height: 10em;

  background-image: url('../assets/lines.png');
  background-repeat: repeat-x;
  background-size: cover;

  background-color: rgb(255, 255, 255);
}

.cell-15 {
  min-height: 20em;

  display: flex;
  align-items: center;

  background-color: #FFFFFF;
}

.cell-15 div {
  width: 80%;
  margin: 0 auto;
}

.cell-15 div p {
  margin: 1rem 0;

  color: #151719;

  font-family: "PT Sans";
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.cell-16 {
  min-height: 35em;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  background-image: url(../assets/why2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 6rem;
  background-position-y: bottom;

  background-color: #151719;
}

.cell-16 p {
  padding-right: 0;

  transform: rotate(-90deg);

  color: #ffffff;

  font-family: Helvetica;
  font-size: 8.5rem;
  font-weight: bold;
}

.cell-17 {
  display: flex;
  align-items: flex-end;

  background-color: #ED3B00;
}

.cell-17 img {
  width: 68%;
  margin: 3rem auto 0;
}

.cell-18 {
  display: flex;
  align-items: flex-end;

  background-color: #FFC107;
}

.cell-18 img {
  width: 68%;
  margin: 3rem auto 0;
}

.cell-19 {
  display: flex;
  align-items: center;

  background-color: #FFC107;
}

.cell-19 p {
  width: 80%;
  margin: 2rem auto;

  color: #151719;

  font-family: Arial;
  font-size: 1.8rem;
  font-weight: bold;
}

.cell-20 {
  display: flex;
  align-items: center;

  background-color: #FFFFFF;
}

.cell-20 p {
  margin: 0 auto;

  font-size: 8rem;
  font-family: Arial;
  font-weight: bold;

  color: #FFC107;
}

.cell-21 {
  display: block;
  min-height: 10em;

  background-image: url('../assets/lines.png');
  background-repeat: repeat-x;
  background-size: cover;

  background-color: rgb(255, 255, 255);
}

.cell-22 {
  display: flex;
  min-height: 20em;

  background-color: #D8D8D8;
}

.cell-22 div {
  width: 80%;
}

.cell-22 div p {
  color: #151719;
  font-family: "PT Sans";
  font-size: 1.2rem;
  line-height: 1.6rem;

  margin: 1rem 0;
}

.cell-23 {
  min-height: 10em;

  background-image: url(../assets/arrow.svg),
    url(../assets/arrow.svg),
    url(../assets/arrow.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 104% center, 89% center, 74% center;
  background-size: 20%;

  background-color: #EAEAEA;

  display: none;
}

.cell-24 {
  min-height: 20em;

  background-image: url(../assets/why3.svg);
  background-repeat: no-repeat;
  background-size: 130%;
  background-position-x: -1rem;
  background-position-y: center;

  background-color: #ED3B00;

  display: flex;
}

.cell-24 p {
  width: 70%;

  color: #FFFFFF;

  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
}

.cell-25 {
  background-color: #FFFFFF;
  display: flex;
}

.cell-25 p {
  width: 70%;

  margin-top: 2rem;

  color: #151719;

  font-family: Arial;
  font-size: 1rem;
  line-height: 1.5rem;
}


.cell-26 {
  width: 100%;
  height: 100%;

  background-color: #EAEAEA;
  display: none;
}

.cell-26 .circle {
  width: 100%;
  height: 100%;

  border-radius: 50%;

  background-color: #ffffff;

  display: none;
}


.cell-27 {
  width: 100%;
  height: 100%;

  background-color: #EAEAEA;
}

.cell-27 .triangle {
  width: 100%;
  height: 100%;

  background: linear-gradient(to left bottom, transparent 50%, #ffffff 50%) top / 100% 50% no-repeat,
    linear-gradient(to left top, transparent 50%, #ffffff 50%) bottom / 100% 50% no-repeat;

  background-color: #EAEAEA;
}

.cell-28 {
  background-color: #FFFFFF;
  display: flex;
}

.cell-28 p {
  width: 70%;

  margin-bottom: 2rem;

  color: #151719;

  font-family: Arial;
  font-size: 1rem;
  line-height: 1.5rem;
}

.cell-29 {
  background-color: #FFFFFF;
  display: flex;
}

.cell-29 p {
  width: 80%;

  margin: 2rem 0;

  color: #151719;

  font-family: Arial;
  font-size: 1rem;
  line-height: 1.5rem;
}

.cell-30 {
  min-height: 10em;

  background-image: url(../assets/double-arrows.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: right;
  background-position-y: center;

  background-color: #FFC107;

  display: flex;
}

.cell-30 p {
  width: 70%;

  color: #151719;

  font-family: "PT Sans";
  font-size: 2.5rem;
  font-weight: bold;
}

.cell-31 {
  min-height: 10em;

  background-color: #EAEAEA;
  display: flex;
}

.cell-31 p {
  width: 80%;

  color: #151719;

  font-family: Arial;
  font-size: 1.8rem;
  font-weight: bold;
}

.cell-s-facebook {
  background-color: #3A5998;
  display: flex;
}

.cell-s-vk {
  background-color: #4C75A3;
  display: flex;
}

.cell-s-twitter {
  background-color: #1EA0F1;
  display: flex;
}

.cell-s-odnoklassniki {
  background-color: #F7921E;
  display: flex;
}

.cell-s-facebook a,
.cell-s-vk a,
.cell-s-twitter a,
.cell-s-odnoklassniki a {
  width: 100%;
  height: 100%;

  text-decoration: none;
}

.cell-s-facebook a i,
.cell-s-vk a i,
.cell-s-twitter a i,
.cell-s-odnoklassniki a i {
  font-size: 1.5rem;
  color: #ffffff;
}

.cell-s-facebook,
.cell-s-vk,
.cell-s-twitter,
.cell-s-odnoklassniki {
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
}

.cell-s-facebook:hover,
.cell-s-vk:hover,
.cell-s-twitter:hover,
.cell-s-odnoklassniki:hover {
  filter: brightness(80%);
}