.structure {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:  "cell-1 cell-1 cell-1 cell-1"
                        "cell-3 cell-3 cell-3 cell-3"
                        "cell-telegram_btn cell-telegram_btn cell-viber_btn cell-viber_btn"
                        "cell-4 cell-4 cell-4 cell-4"
                        "cell-9 cell-9 cell-9 cell-9"
                        "cell-5 cell-5 cell-5 cell-5"
                        "cell-6 cell-6 cell-6 cell-6"
                        "cell-7 cell-7 cell-7 cell-7"
                        "cell-8 cell-8 cell-8 cell-8"
                        "cell-11 cell-11 cell-11 cell-11"
                        "cell-10 cell-10 cell-10 cell-10"
                        "cell-16 cell-16 cell-16 cell-16"
                        "cell-14 cell-14 cell-13 cell-13"
                        ;
}